services:
  mysql:
    image: mysql:8.0
    restart: always
    secrets:
      - mysql_root_password
      - mysql_user
      - mysql_password
    env_file:
      - ./back/.env
    environment:
      MYSQL_ROOT_PASSWORD: /run/secrets/mysql_root_password
      MYSQL_USER_FILE: /run/secrets/mysql_user
      MYSQL_PASSWORD_FILE: /run/secrets/mysql_password
    volumes:
      - mysql_volume:/var/lib/mysql
      - ./mysql/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    networks:
      - internal

  backend:
    build:
      context: .
      dockerfile: back/Dockerfile
    restart: always
    volumes:
      - static_volume:/static
      - media_volume:/media
    secrets:
      - django_secret_key
      - mysql_user
      - mysql_password
    env_file:
      - ./back/.env
    environment:
      DJANGO_SECRET_KEY: /run/secrets/django_secret_key
      MYSQL_USER_FILE: /run/secrets/mysql_user
      MYSQL_PASSWORD_FILE: /run/secrets/mysql_password
      IS_DOCKER: "True"
    depends_on:
      - mysql
    networks:
      - internal
      - proxy-network

    labels:
      - "traefik.enable=true"

      # Backend is served at https://workshop.santoriello.ch/api
      - "traefik.http.routers.workshop-backend.rule=Host(`workshop.santoriello.ch`) && PathPrefix(`/api`)"
      - "traefik.http.routers.workshop-backend.entrypoints=websecure"
      - "traefik.http.routers.workshop-backend.tls.certresolver=le"

      # Django listens on port 8000
      - "traefik.http.services.workshop-backend.loadbalancer.server.port=8000"

  frontend:
    build:
      context: .
      dockerfile: front/Dockerfile
    restart: always
    env_file:
      - ./front/.env
    depends_on:
      - backend
    networks:
      - proxy-network

    labels:
      - "traefik.enable=true"

      # Frontend exposed at https://workshop.santoriello.ch
      - "traefik.http.routers.workshop-frontend.rule=Host(`workshop.santoriello.ch`)"
      - "traefik.http.routers.workshop-frontend.entrypoints=websecure"
      - "traefik.http.routers.workshop-frontend.tls.certresolver=le"
      - "traefik.http.services.workshop-frontend.loadbalancer.server.port=80"

  nginx-media:
    image: nginx:alpine
    restart: always
    volumes:
      - static_volume:/static:ro
      - media_volume:/media:ro
      - ./nginx/media/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - proxy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.workshop-media.rule=Host(`workshop.santoriello.ch`) && (PathPrefix(`/media`) || PathPrefix(`/static_django`))"
      - "traefik.http.routers.workshop-media.entrypoints=websecure"
      - "traefik.http.routers.workshop-media.tls.certresolver=le"
      - "traefik.http.services.workshop-media.loadbalancer.server.port=80"

secrets:
  mysql_root_password:
    file: ./secrets/mysql_root_password.txt
  mysql_user:
    file: ./secrets/mysql_user.txt
  mysql_password:
    file: ./secrets/mysql_password.txt
  django_secret_key:
    file: ./secrets/django_secret_key.txt

volumes:
  mysql_volume:
  static_volume:
  media_volume:

networks:
  internal:
    internal: true
  proxy-network:
    external: true
