/* * {
  outline: solid 1px red;
} */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
}

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
}

.main {
  margin-left: 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.content {
  margin-top: 0;
  padding: 20px;
  overflow-y: auto;
  max-height: 100vh;
}
