[data-theme='light'] {
  --color-alert: red;
  --color-alert-hover: #c70303;
  --color-focus: #0056b3;

  /* login/register */
  --text-auth: #555;
  --text-auth-link: #4ca1af;
  --text-auth-link-hover: #37828d;
  --background-auth-left: #2c3e50;
  --background-auth-right: #4ca1af;
  /* sidebar */
  --background-logo: white;
  --text-menu: white;
  --text-menu-active: #37828d;
  --border-menu: #37828d;
  --border-menu-active: #4ca1af;
  --background-menu: #4ca1af;
  --background-menu-active: white;
  /* buttons */
  --text-btn: white;
  --text-btn-hover: white;
  --background-btn: #4ca1af;
  --background-btn-hover: #37828d;
  --background-btn-disabled: #95a5a6;
  --background-btn-slidin: lightblue;
  --background-svg-slidin: white;
  --stroke-slidin-hover: #0056b3;
  /* cards */
  --background-card: #f5f5f5;
  --background-card-disabled: #f8f8f8;
  --background-form: white;
  /* main */
  --text-main: #555;
  --border-main: #ddd;
  --background-main: white;
  --boxshadow-main: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  --color-alert: red;
  --color-alert-hover: #c70303;
  --color-focus: #0056b3;

  /* login/register */
  --text-auth: #555;
  --text-auth-link: #4ca1af;
  --text-auth-link-hover: white;
  --background-auth-left: #2c3e50;
  --background-auth-right: #4ca1af;
  /* sidebar */
  --background-logo: white;
  --text-menu: lightgrey;
  --text-menu-active: lightgrey;
  --border-menu: #555;
  --border-menu-active: #37828d;
  --background-menu: #37828d;
  --background-menu-active: #5f5f5f;
  /* buttons */
  --text-btn: lightgrey;
  --text-btn-hover: white;
  --background-btn: #37828d;
  --background-btn-hover: #205158;
  --background-btn-disabled: #95a5a6;
  --background-btn-slidin: #95a5a6;
  --background-svg-slidin: lightgrey;
  --stroke-slidin-hover: #0056b3;
  /* cards */
  --background-card: #7a7a7a;
  --background-card-disabled: #f8f8f8;
  --background-form: #a8a8a8;
  /* main */
  --text-main: lightgrey;
  --border-main: #ddd;
  --background-main: #5f5f5f;
  --boxshadow-main: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden;
  min-height: 530px;
  min-width: 500px;
  margin: 0;
  background-color: var(--background-main);
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  height: 100%;
}

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
}

.main {
  margin-left: 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.content {
  margin-top: 0;
  padding: 20px;
  overflow-y: auto;
  max-height: 95vh;
}

@media (max-width: 768px) {
  .main {
    margin-left: 100px;
    transition: margin-left 0.3s ease-in-out;
  }
}
