/* Button styling */
.btn {
  margin: 5px;
  padding: 12px;
  background: var(--background-btn);
  color: var(--text-btn);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: var(--background-btn-hover);
}
.btn:disabled {
  background: var(--background-btn-disabled);
  cursor: not-allowed;
}
.btn-edit {
  padding: 3px 6px;
  width: 80px;
  background-color: var(--background-btn);
}
.btn-edit:hover {
  filter: drop-shadow(0 0 3px var(--background-btn-hover));
  background-color: var(--background-btn-hover);
}
.btn-delete {
  padding: 3px 6px;
  width: 80px;
  background-color: var(--background-btn);
}
.btn-delete:hover {
  filter: drop-shadow(0 0 3px var(--color-alert));
  background-color: var(--color-alert);
}
/* Floating Button */
.btn-float {
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition:
    filter 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
