.invoices-header {
  background-color: var(--background-card);
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.invoices {
  color: var(--text-main);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  transition: all 0.3s ease-in-out;
}

.invoices-list {
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 45%;
  margin-right: 10px;
  justify-content: flex-start;
  align-content: flex-start;
}

.invoices-divider {
  border: 1px solid var(--boxshadow-main);
  margin: 10px 10px;
  transition: all 0.3s ease-in-out;
}

.card-invoice {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 96%;
  padding: 10px 15px 5px 15px;
  background: var(--background-card);
  border-radius: 6px;
  box-shadow: 0 4px 6px var(--boxshadow-main);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-invoice:hover {
  box-shadow: 0 0 12px var(--color-focus);
}

.card-invoice header {
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  color: var(--text-main);
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1.5px solid var(--border-main);
  transition: all 0.3s ease-in-out;
}

.card-invoice-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.card-invoice-col {
  display: flex;
  flex-direction: column;
}

.card-invoice p {
  padding: 0;
  margin: 0 0 5px 0;
}

.card-invoice a {
  text-align: center;
}

@media (max-width: 1050px) {
  .invoices {
    flex-direction: column;
  }
}
