.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, var(--background-auth-left), var(--background-auth-right));
  box-sizing: border-box;
  overflow: auto;
  transition: all 0.3s ease-in-out;
}

.modal-card {
  background: var(--background-main);
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--boxshadow-main);
  width: 80%;
  max-width: 700px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-card h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--text-main);
}

.modal-card h3 {
  margin: 0;
}

.modal-card button {
  padding: 12px;
  background: var(--background-btn);
  color: var(--text-btn);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.modal-card button:hover {
  background: var(--background-btn-hover);
}

.modal-card button:disabled {
  background: var(--background-btn-disabled);
  cursor: not-allowed;
}

.modal-card-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: white;
  fill: var(--color-alert);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.modal-card-close:hover {
  fill: var(--color-alert-hover);
}

.modal-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.modal-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.modal-form .field-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.modal-form .field-name {
  align-self: flex-start;
  font-style: italic;
  font-size: 12pt;
  color: var(--text-main);
}

.modal-form input,
.modal-form select,
.modal-form textarea {
  background-color: var(--background-form);
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--border-main);
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.modal-form textarea {
  resize: none;
  height: 100px;
}

.modal-form input:focus,
.modal-form select:focus,
.modal-form textarea:focus {
  border-color: var(--color-focus);
  box-shadow: 0 0 7px var(--color-focus);
  outline: none;
  transition: all 0.4s ease-in-out;
}

.modal-form input.invalid,
.modal-form select.invalid {
  border-color: var(--color-alert);
}
.modal-form input.invalid:focus,
.modal-form select.invalid:focus {
  border-color: var(--color-alert);
  box-shadow: 0 0 8px var(--color-alert);
}

.modal-form .error-text {
  height: 12px;
  color: var(--color-alert);
  font-size: 10pt;
  font-style: italic;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.modal-form .error-text.visible {
  opacity: 1;
}

.modal-form .error-text.hidden {
  opacity: 0;
}

.modal-form input:disabled,
.modal-form select:disabled,
.modal-form textarea:disabled {
  background-color: var(--background-form);
  cursor: not-allowed;
}

.modal-form button {
  padding: 12px;
  margin: 0;
  background: var(--background-btn);
  color: var(--text-btn);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-form button.small {
  padding: 6px;
  text-wrap: nowrap;
}

.modal-form button:hover {
  background: var(--background-btn-hover);
}

.modal-form button:disabled {
  background: var(--background-btn-disabled);
  cursor: not-allowed;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
