.status {
  position: absolute;
  top: -10px;
  left: -10px;
}

.status-icon {
  width: 30px;
  height: 30px;
  /* background-color: white; */
  /* mix-blend-mode: screen; */
}

/* Pending Status */
.status-icon.pending {
  fill: red;
}

/* In Progress Status */
.status-icon.in-progress {
  fill: orange;
}

/* Completed Status */
.status-icon.completed {
  fill: green;
}
