@font-face {
  font-family: "Daruma";
  src: url("../assets/fonts/Daruma/DarumadropOne-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sidebar {
  position: absolute;
  width: 150px;
  height: 100%;
  min-height: 740px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #4ca1af;
  overflow: hidden;
  box-sizing: border-box;
}

.sidebar-company-name {
  font-family: "Daruma", sans-serif;
  font-size: 20pt;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}
.sidebar-logo {
  padding: 5px;
  width: 60px;
  height: auto;
  border: solid 3px rgb(0, 0, 0);
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}
.sidebar-welcome {
  margin: 0;
  padding: 10px 5px 15px 5px;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: 500;
  text-overflow: ellipsis;
}

.sidebar-small {
  font-size: 10pt;
  font-style: italic;
  padding-bottom: 5px;
}
.sidebar .logout {
  margin: 0;
  padding: 4px;
  padding-right: 10px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: all 0.3s ease-in-out;
}
.sidebar .logout:hover {
  filter: drop-shadow(0 0 5px #fd0000);
}
.sidebar .logout svg {
  width: 15px;
  height: 15px;
  rotate: 180deg;
  fill: white;
}
.sidebar .logout p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  gap: 6px;
}

.sidebar li {
  display: flex;
  width: 150px;
  height: 50px;
  padding-left: 2px;
  border: none;
  position: relative;
}

.sidebar a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  border: solid 2px transparent;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}

/* Pseudo-element styles (initially hidden) */
.sidebar a::before,
.sidebar a::after {
  content: "";
  position: absolute;
  opacity: 0;
}

/* Top curve before */
.sidebar a::before {
  top: -30px;
  right: 1px;
  height: 30px;
  width: 30px;
  border-bottom-right-radius: 50%;
  background-color: transparent;
  box-shadow: 0 20px 0 0 #fff;
}

/* Bottom curve after */
.sidebar a::after {
  bottom: -30px;
  right: 1px;
  height: 30px;
  width: 30px;
  border-top-right-radius: 50%;
  background-color: transparent;
  box-shadow: 0 -20px 0 0 white;
}

/* Active link styles */
.sidebar a.active {
  color: #4ca1af;
  border-color: #4ca1af;
  background-color: white;
  position: relative;
  cursor: default;
}

.sidebar a.active::before,
.sidebar a.active::after {
  opacity: 1;
}

.sidebar a:hover {
  color: #4ca1af;
  background-color: white;
  border-color: #37828d;
}

.sidebar a.active:hover {
  border-color: #4ca1af;
}

.footer-bottom {
  color: white;
  font-size: x-small;
  text-align: center;
  margin-top: 60px;
}

.footer-bottom p {
  margin: 0;
  margin-bottom: 4px;
}
