@font-face {
  font-family: 'Daruma';
  src: url('../assets/fonts/Daruma/DarumadropOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.sidebar {
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--background-menu);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 500;
  min-height: 390px;
  transition: all 0.3s ease-in-out;
}

.sidebar-company-name {
  font-family: 'Daruma', sans-serif;
  font-size: 20pt;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.sidebar-logo {
  margin-top: 10px;
  padding: 5px;
  width: 60px;
  height: auto;
  border: solid 3px rgb(0, 0, 0);
  border-radius: 50%;
  background-color: var(--background-logo);
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.sidebar-welcome {
  margin: 0;
  padding: 10px 5px 15px 5px;
  text-align: center;
  color: var(--text-menu);
  font-size: large;
  font-weight: 500;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

.sidebar-small {
  font-size: 10pt;
  font-style: italic;
  padding-bottom: 5px;
}
.sidebar .logout {
  margin: 0;
  padding: 4px;
  padding-right: 10px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: all 0.3s ease-in-out;
}
.sidebar .logout:hover {
  filter: drop-shadow(0 0 5px #fd0000);
}
.sidebar .logout svg {
  width: 15px;
  height: 15px;
  rotate: 180deg;
  fill: var(--text-menu);
  transition: all 0.3s ease-in-out;
}
.sidebar .logout p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  gap: 6px;
}

.sidebar li {
  display: flex;
  width: 150px;
  height: 50px;
  padding-left: 2px;
  border: none;
  position: relative;
}

.sidebar a {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: flex-start;
  color: var(--text-menu);
  text-decoration: none;
  border: solid 2px transparent;
  border-radius: 10px;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}

.sidebar a span {
  position: relative;
  z-index: 2;
}

/* Pseudo-element styles (initially hidden) */
.sidebar a::before,
.sidebar a::after {
  content: '';
  position: absolute;
  opacity: 0;
  z-index: 0;
}

/* Top curve before */
.sidebar a::before {
  top: -30px;
  right: 1px;
  height: 30px;
  width: 30px;
  border-bottom-right-radius: 50%;
  background-color: transparent;
  box-shadow: 0 20px 0 0 var(--background-menu-active);
  transition: box-shadow 0.3s ease-in-out;
}

/* Bottom curve after */
.sidebar a::after {
  bottom: -30px;
  right: 1px;
  height: 30px;
  width: 30px;
  border-top-right-radius: 50%;
  background-color: transparent;
  box-shadow: 0 -20px 0 0 var(--background-menu-active);
  transition: box-shadow 0.3s ease-in-out;
}

/* Active link styles */
.sidebar a.active {
  color: var(--text-menu-active);
  border-color: var(--border-menu-active);
  border-right: none;
  background-color: var(--background-menu-active);
  position: relative;
  cursor: default;
}

.sidebar a.active::before,
.sidebar a.active::after {
  opacity: 1;
}

.sidebar a:hover {
  color: var(--text-menu-active);
  background-color: var(--background-menu-active);
  border-color: var(--border-menu);
}

.sidebar a.active:hover {
  border-color: var(--border-menu-active);
}

.footer-bottom {
  color: var(--text-menu);
  font-size: x-small;
  text-align: center;
  margin-top: 60px;
}

.footer-bottom p {
  margin: 0;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100px;
    transition: width 0.3s ease-in-out;
  }
  .sidebar li {
    width: 100px;
  }
  .sidebar-company-name {
    display: none;
  }
}

@media (min-height: 640px) and (max-height: 739px) {
  .sidebar {
    padding: 5px;
  }
  .sidebar-header {
    padding: 0;
  }
  .sidebar-logo {
    display: none;
  }
}

@media (min-height: 568px) and (max-height: 639px) {
  .sidebar {
    padding: 5px;
  }
  .sidebar-header,
  .sidebar-welcome {
    padding: 5px;
  }
  .sidebar-logo,
  .sidebar-company-name,
  .sidebar-small {
    display: none;
  }
}

@media (min-height: 530px) and (max-height: 567px) {
  .sidebar {
    padding: 5px;
  }
  .sidebar-header {
    flex-direction: column;
    justify-content: center;
  }
  .sidebar .logout {
    width: 30px;
  }
  .sidebar-header,
  .sidebar-welcome {
    padding: 5px;
  }
  .sidebar-logo,
  .sidebar-company-name,
  .sidebar-small,
  .sidebar-logout {
    display: none;
  }
}

@media (max-height: 529px) {
  .sidebar {
    padding: 5px;
  }
  .sidebar-header {
    flex-direction: column;
    justify-content: center;
  }
  .sidebar .logout {
    width: 30px;
  }
  .sidebar-header,
  .sidebar-welcome {
    padding: 5px;
  }
  .sidebar-logo,
  .sidebar-company-name,
  .sidebar-small,
  .sidebar-logout {
    display: none;
  }
  .sidebar li {
    height: 30px;
  }
}
